.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #F4476B;
    font-size: 12px;
    border: 1px solid #F4476B;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

  .swal-button:not([disabled]):hover{
    background-color:#F4476B;
  }